plugged
node_modules
session
coc/extensions/*
coc/list*
snippets-mru
mru
memos.json
history.json
commands
db.json
colors
explorer-actions
nvim/autoload/plug.vim
nvim/autoload/plug.vim.old


nvim/.netrwhist
nvim/session/__LAST__
tags